@import "/main.css";

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100svh;
    overflow: hidden;
}

.navbar {
    width: 100%;
    background-color: var(--color-surface);
    border-bottom: 1px solid var(--color-border);
    padding: 0.75rem 1rem;
    box-shadow: var(--shadow-sm);
    flex-shrink: 0;
    position: relative;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: pixeloid;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    height: 4rem;
    content: var(--logo-url)
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0;
}

.nav-links a:hover {
    color: var(--color-primary);
}

.theme-button,
.menu-toggle {
    background-color: transparent;
    border: none;
    padding: 0.4rem;
    cursor: pointer;
    color: var(--color-text)
}

.menu-toggle {
    display: none;
    font-size: 1.2rem;
    min-width: 40px;
}

.content-frame {
    flex-grow: 1;
    width: 100%;
    border: none;
}

@media (max-width: 64rem) {
    .menu-toggle {
        display: block;
    }

    .nav-menu {
        display: flex;
        max-height: 0;
        padding: 0;

        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-surface);
        border-bottom: 1px solid var(--color-border);
        box-shadow: var(--shadow-sm);
        
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        transition: max-height 180ms ease-in-out, padding 180ms ease-in-out;
    }

    .nav-menu.is-active {
        max-height: 14rem;
        padding: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 1rem;
    }
}
