@import "/main.css";

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
}

.timeline {
  background: var(--color-background);
}

.card {
  position: relative;
  width: 90vw;
  max-width: 30rem;
}

.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}

.card::before {
  content: "";
  z-index: 0;
  position: absolute;
  width: 50%;
  border: solid var(--color-primary);
}

.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

.card iframe {
    aspect-ratio: 16/9;
    position: relative;
    z-index: 2000;
}

.info {
  display: flex;
  flex-direction: column;
  background: var(--color-surface);
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--shadow-sm)
}

.title {
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid var(--color-primary);
}

.card:nth-child(even) > .info > .title {
    flex-direction: row-reverse;
}

.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

.info img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.card iframe {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  z-index: 2000;
}
